/* Reset and font setup */
* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 13.5px;
}

/* Waybar window */
window#waybar {
  background-color: #111111;
  color: #282828;
  border-radius: 0;
  border: none;
}

/* Workspaces */
#workspaces {
  background: transparent;
  margin: 0 10px;
}

#workspaces button {
  padding: 0 0px;
  /* background: #282828; */
  color: #aaaaaa; /* gray */
  border: none;
}

#workspaces button.active {
  color: #282828; /* white */
}

#workspaces button.focused {
  color: #fff; /* black */
  background-color: #282828; /* white background */
}

#workspaces button:hover {
  color: #ffffff; /* white */
}

/* Window title */
#window {
  color: #cccccc; /* light gray */
  margin: 0 15px;
}

/* Clock */
#clock {
  color: #aaaaaa; /* white */
  font-weight: bold;
  padding: 0 15px;
}

/* Right modules common styling */
#cpu,
#network,
#pulseaudio,
#backlight,
#custom-net_speed,
#battery {
  padding: 0 5px;
  margin: 0 5px;
}

/* Individual modules */
#cpu {
  color: #aaa; /* gray */
}

#custom-net_speed {
  color: #aaa; /* gray */
}

#network {
  color: #aaa; /* white */
}

#network.disconnected {
  color: #999999; /* black */
}

#pulseaudio {
  color: #dddddd; /* light gray */
}

#pulseaudio.muted {
  color: #999999; /* black */
}

#backlight {
  color: #aaa; /* gray */
}

#battery {
  color: #aaa; /* white */
}

#battery.charging {
  color: #fff; /* light gray */
}

#battery.critical {
  color: darkred; /* black */
}

/* Tray */
#tray {
  padding: 0 8px;
}
