@import "../../.cache/wal/colors-waybar.css";
* {
  border: none;
  border-radius: 5px;
  font-family: JetBrains Mono NF;
  font-size: 15px;
  font-style: normal;
  min-height: 0;
  /* padding: 5px; */
}

window#waybar {
  /* background-color: shade(alpha(@background, 0.5), 0.5); */
  background-color: transparent;
  color: @foreground;
  border-radius: 10px;
}

#workspaces {
  background-color: shade(alpha(@background, 0.9), 1.5);
  margin: 5px 5px 5px 5px;
  padding: 0px 5px 0px 5px;
  border-radius: 8px;
  border: solid 0px #cdd6f4;
  font-weight: normal;
  font-style: normal;
}
#workspaces button {
  padding: 0px 5px;
  border-radius: 16px;
  color: @foreground;
  transition: all 0.5s cubic-bezier(0.55, -0.68, 0.48, 1.68);
  box-shadow: rgba(0, 0, 0, 0.288) 2px 2px 5px 2px;
}

#workspaces button.active {
  color: @color2;
  background-color: transparent;
  font-size: 15px;
  border-radius: 16px;
  animation: gradient_f 20s ease-in-out infinite;
  transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#workspaces button:hover {
  background-color: @foreground;
  color: black;
  border-radius: 16px;
}

/*  { */
/*   color: #db4b4b; */
/*   background-color: shade(alpha(@background, 0.9), 1.5); */
/*   margin-bottom: 10px; */
/*   margin: 5px; */
/*   padding: 5px; */
/*   border-radius: 8px; */
/* } */

#tray {
  background: shade(alpha(@background, 0.9), 1.5);
  color: @foreground;
  margin: 5px;
  margin-bottom: 10px;
  border-radius: 8px;
  padding: 5px;
  /*border-right: solid 1px #282738;*/
}

#clock {
  color: @foreground;
  background-color: shade(alpha(@background, 0.9), 1.5);
  margin: 5px;
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 8px;
  /* border-radius: 0px 0px 0px 24px; */
  /* padding-left: 10px; */
  /* padding-right: 15px; */
  /* margin-right: 0px; */
  /* margin-left: 1px; */
  /* margin-top: 0px; */
  /* margin-bottom: 5px; */
  /* font-weight: bold; */
  /*border-left: solid 1px #282738;*/
}

/* #battery { */
/*   background-color: shade(alpha(@background, 0.5), 0.9); */
/*   border-radius: 8px; */
/*   padding: 5px; */
/* } */
/**/
/* #battery.charging { */
/*   background-color: shade(alpha(@background, 0.5), 0.9); */
/*   border-radius: 8px; */
/*   padding: 5px; */
/* } */

/* #battery.warning:not(.charging) { */
/*   background-color: shade(alpha(@background, 0.5), 0.9); */
/*   border-radius: 8px; */
/*   padding: 5px; */
/* } */
#custom-night,
#upower,
#network,
#pulseaudio,
#pulseaudio.muted,
#custom-power,
#backlight {
  background-color: shade(alpha(@background, 0.9), 1.5);
  color: @foreground;
  border-radius: 8px;
  padding: 5px;
  margin: 5px;
  margin-bottom: 10px;
}

/*  { */
/*   color: @foreground; */
/*   background-color: shade(alpha(@background, 0.5), 0.9); */
/* } */

/*  { */
/*   background: transparent; */
/*   color: #928374; */
/*   border-radius: 8px; */
/*   margin-left: 0px; */
/* } */

/* #custom-randwall { */
/*   color: #cdd6f4; */
/*   border-radius: 8px; */
/*   margin-right: 0px; */
/* } */

#custom-launcher {
  color: @foreground;
  background-color: shade(alpha(@background, 0.9), 1.5);
  padding: 0 20px 0 13px;
  margin: 5px;
  font-size: 20px;
}

#custom-launcher button:hover {
  background-color: #b4befe;
  color: transparent;
  border-radius: 8px;
  margin-right: -5px;
  margin-left: 10px;
}

#custom-playerctl {
  background-color: shade(alpha(@background, 0.9), 1.5);
  color: @foreground;
  padding-left: 15px;
  padding-right: 14px;
  border-radius: 16px;
  /*border-left: solid 1px #282738;*/
  /*border-right: solid 1px #282738;*/
  margin: 5px;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
}

#custom-playerlabel {
  color: @foreground;
  background-color: shade(alpha(@background, 0.9), 1.5);
  padding-left: 10px;
  padding-right: 15px;
  border-radius: 16px;
  /*border-left: solid 1px #282738;*/
  /*border-right: solid 1px #282738;*/
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: normal;
  font-style: normal;
}

#window {
  background-color: shade(alpha(@background, 0.5), 0.9);
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 16px;
  /*border-left: solid 1px #282738;*/
  /*border-right: solid 1px #282738;*/
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: normal;
  font-style: normal;
}

#custom-wf-recorder {
  padding: 0 20px;
  color: #cdd6f4;
  background-color: #1e1e2e;
}

#cpu {
  background-color: #1e1e2e;
  /*color: #FABD2D;*/
  border-radius: 16px;
  margin: 5px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 0px 10px 0px 10px;
  font-weight: bold;
}

#memory {
  background-color: #1e1e2e;
  /*color: #83A598;*/
  border-radius: 16px;
  margin: 5px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 0px 10px 0px 10px;
  font-weight: bold;
}

#disk {
  background-color: #1e1e2e;
  /*color: #8EC07C;*/
  border-radius: 16px;
  margin: 5px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 0px 10px 0px 10px;
  font-weight: bold;
}

#custom-hyprpicker {
  background-color: #1e1e2e;
  /*color: #8EC07C;*/
  border-radius: 16px;
  margin: 5px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 0px 11px 0px 9px;
  font-weight: bold;
}
#custom-cava {
  color: #8fbc8f;
  border-left: 0px;
  border-right: 0px;
  padding-bottom: 6px;
  font-family: "bargraph";
  font-size: 22px;
}

#battery {
  background-color: shade(alpha(@background, 0.5), 0.9);
  color: @foreground;
}

#battery.charging,
#battery.plugged {
  color: #00ff00;
  background-color: shade(alpha(@background, 0.5), 0.9);
}
